body {
    padding-top: 65px;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

body {
    padding-bottom: 50px;
}

.glyphicon-info-sign:hover {
    cursor:help;
}

#rekkaa {
    background-color: #bacfef;
    padding: 10px;
}