
{% extends "base.html" %}
{% block title %}Add a place{% endblock %}


{% block mycontent %}
  {% if method=='GET' %}
    <!--suppress LossyEncoding -->
<h1>Form - add</h1>
    <form action="/add" method="POST">
      <div class="form-group form-inline">
        <label class="col-md-2" for="place">Paikan nimi:</label>
        <input class="form-control" type="text" name="name" id="place" required>
      </div>

      <div class="checkbox">
        <label><input name="kaukana" type="checkbox" value="1" />Kaukana?</label>
      </div>

      <div class="form-group form-inline">
          <label class="col-md-2" for="laatu" >Ruuan tasalaatuisuus:</label>
          <input class="form-control" type="number" name="laatu" id="laatu" required>
      </div>

      <div class="form-group form-inline">
          <label class="col-md-2" for="parkki" >Parkkipaikka:</label>
          <input class="form-control" type="number" name="parkki" id="parkki" required>
      </div>

      <div class="form-group form-inline">
          <label class="col-md-2" for="palvelu" >Palvelun taso:</label>
          <input class="form-control" type="number" name="palvelu" id="palvelu" required>
      </div>

      <div class="form-group form-inline">
          <label class="col-md-2" for="hinta" >Hinta:</label>
          <input class="form-control" type="number" name="hinta" id="hinta" required>
      </div>

      <div class="form-group form-inline">
          <label class="col-md-2" for="bonus" >Bonus painotus:</label>
          <input class="form-control" type="number" name="bonus" id="bonus" required>
      </div>

      <input type="submit" value="subumitu" />
    </form>
  {% else %}
      <h1>Thank you for your input</h1>
      <p>{{ values["nimi"] }} tallennettu.</p>

  {% endif %}
{% endblock mycontent %}
