{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Arvo Ruokapaikka</h1>
        <div class="form-group">
            &nbsp;
        </div>
        <form action="/" method="POST">
          <div class="checkbox">
            <label><input name="kiirus" type="checkbox" value="1" />Kiirus</label>
          </div>
            <input type="submit" name="submit" value="Käynnistä arvonta">
        </form>
    </div>
{% endblock %}