{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Arvo Ruokapaikka</h1>
        <div class="form-group">
            &nbsp;
        </div>
        <form action="/" method="POST">
          <div class="checkbox">
            <input id="checkbox1" name="kiirus" type="checkbox" value="1" />
            <label for="checkbox1">
                Kiirus
            </label>
          </div>
            <div class="form-group">
                &nbsp;
            </div>
            <input type="submit" name="submit" value="Käynnistä arvonta">
        </form>
    </div>
{% endblock %}