{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block mycontent %}
  <!--suppress LossyEncoding -->
<h1>Lista ruokapaikoista</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Etäisyys</th>
                <th>Tasalaatuisuus</th>
                <th>Parkkipaikka</th>
                <th>Palvelu</th>
                <th>Hinta</th>
                <th>Bonus</th>
                <th>Painotus</th>
                <th>Jäähy <span data-toggle="tooltip" title="Voit resetoida jäähyn klikkaamalla linkkiä" class="glyphicon glyphicon-info-sign"></span></th>
                <th>Poista</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        {% set score = row['tasalaatuisuus'] + row['parkkipaikka'] + row['palvelu']
        + row['hinta'] + row['bonus'] %}
        {% set kesto = "<a href='/reset?id=%s' >%s</a>"|format(row['id'], row['kesto'])|safe if row['kesto'] is not none else '0' %}
        <tr>
            <td>{{ row['nimi'] }}</td>
            <td>{{row['kaukana']}}</td>
            <td>{{row['tasalaatuisuus']}}</td>
            <td>{{row['parkkipaikka']}}</td>
            <td>{{row['palvelu']}}</td>
            <td>{{row['hinta']}}</td>
            <td>{{row['bonus']}}</td>
            <td>{{ score }}</td>
            <td>{{ kesto }}</td>
            <td><a href="delete?id={{row['id']}}"><span class="glyphicon glyphicon-remove-circle"></span></a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock mycontent %}